<div style="display: flex; flex-direction: column; height: 100%">
  <div class="tabulator-filters">
    <select [(ngModel)]="filterField" (change)="updateFilter()">
      <option value="">— поле —</option>
      <option value="fullName">Название</option>
      <option value="num">Номер</option>
      <option value="manager">Руководитель</option>
      <option value="company">Компания</option>
      <option value="archived">Архив</option>
      <option value="function">Архив = false и num &lt; 3</option>
    </select>

    <select
      [(ngModel)]="filterType"
      (change)="updateFilter()"
      [disabled]="filterField === 'function'"
    >
      <option value="=">=</option>
      <option value="<"><</option>
      <option value="<="><=</option>
      <option value=">">></option>
      <option value=">=">>=</option>
      <option value="!=">!=</option>
      <option value="like">Содержит</option>
    </select>

    <input
      type="text"
      [(ngModel)]="filterValue"
      (keyup)="updateFilter()"
      [disabled]="filterField === 'function'"
      placeholder="значение"
    />

    <button (click)="clearFilter()">Очистить фильтр</button>
    <div style="display: flex">
      <!-- <button (click)="doSelected()">do some</button> -->
      <button (click)="groupByManager()">Группировка по руководителю вкл/выкл</button>
      <button (click)="downloadXL()" id="download-xlsx">Скачать XLSX</button>
    </div>
    <div></div>
  </div>
  <div #tabulatorHost style="width: 100%; height: 100%"></div>

<div
  (click)="$event.stopPropagation()"
  *ngIf="showFilterPopup && filterState"
  class="filter-popup"
  [style.top.px]="popupPosition.top"
  [style.left.px]="popupPosition.left"
>
  <div class="popup-title">
    Фильтр: {{ activeField }}
  </div>

  <!-- Если условий нет -->
  <div *ngIf="filterState.conditions.length === 0" class="empty-state">
    <button (click)="addCondition()">+ Добавить условие</button>
  </div>

  <!-- Если есть условия -->
  <ng-container *ngIf="filterState.conditions.length > 0">
    
    <div *ngFor="let c of filterState.conditions; let i = index">
      
      <div class="condition-row">
        <select [(ngModel)]="c.operator">
          <option *ngFor="let op of operators" [value]="op">
            {{ op }}
          </option>
        </select>

        <input
          type="text"
          [(ngModel)]="c.value"
          placeholder="Значение"
        />

        <button (click)="removeCondition(i)">✖</button>
      </div>

      <!-- Логика между условиями -->
      <div
        class="logic-between"
        *ngIf="i < filterState.conditions.length - 1"
      >
        <select [(ngModel)]="c.logicWithNext">
          <option value="AND">И</option>
          <option value="OR">Или</option>
        </select>
      </div>

    </div>

    <button (click)="addCondition()">+ Добавить условие</button>
  </ng-container>

  <div class="actions">
    <button (click)="applyFilter()">Применить</button>
    <button (click)="clearFilter()">Очистить</button>
  </div>
</div>