revo-grid {
  
}

.revo-button {  
  

}

.mat-mdc-tab-body-wrapper {
  height: 100%;
}

revo-grid revogr-data-cell[error] {
  background-color: #ffebee;
  border: 1px solid #f44336;
}

revo-grid revogr-data-cell[error]::after {
  content: attr(error);
  position: absolute;
  bottom: -18px;
  left: 0;
  background: #f44336;
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 10;
}