<mat-tab-group style="height: 100%">
  <mat-tab label="Канбан">
    <lib-ais-table
      *ngIf="tasks.length && kanban_table.length"
      [data]="tasks"
      [columns]="kanban_table"
    ></lib-ais-table>
  </mat-tab>
  <mat-tab label="Реестр проектов">
    <ng-container *ngIf="projects$ | async">
      <lib-ais-table
        [data]="projects"
        [columns]="table_def"
        [features]="features"
        [readonly]="true"
      ></lib-ais-table>
    </ng-container>
  </mat-tab>
</mat-tab-group>
